@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#ffffff, #f5a338);
}
.container {
  position: absolute;
  left: 50%;
  object-fit: cover;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .header {
    h2 {
      color: orange;
      margin-left: 1.5em;
    }
  }
  .content {
    .form {
      margin-top: 10em;
      input {
        width: 15em;
        height: 2em;
        border-radius: 1em;
        border: none;
        outline: none;
      }
      button {
        width: 5em;
        height: 2em;
        background-color: orange;
        border-radius: 20%;
        color: #ffffff;
        border: none;
      }
    }
    .todolist {
      ul {
        display: flex;
        flex-direction: column;
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 1em;
          background-color: #f5a338;
          text-align: center;
          font-size: 1em;
          color: #ffffff;
          button {
            width: 5em;
            height: 2em;
            background-color: rgb(204, 50, 50);
            color: #ffffff;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}
